<footer class="d-footer">
    <div class="row align-items-center justify-content-between">
        <div class="col-auto">
            <p class="mb-0">©@DateTime.Now App. All Rights Reserved.</p>
        </div>
        <div class="col-auto">
            <p class="mb-0">Made by Student</p>
        </div>
    </div>
</footer>